src/main/mule/uhub-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<flow name="uhub-sapi-main" doc:id="1f6e6b9c-e99b-4955-95c8-0bfaf67067c6">
        <http:listener config-ref="uhub-sapi-httpListenerConfig" path="/V1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<set-variable value="#[123456789]" doc:name="Set Variable" doc:id="f8313d12-be07-4906-bde4-2fff02a5c158" variableName="transactionID"/>
		<try doc:name="Try" doc:id="7e0c3417-bb4e-4db7-85a1-3ad18c7b7796" >
			<apikit:router config-ref="uhub-sapi-config" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f74c0df3-a801-4626-ad35-f3f4c3656750" type="APIKIT:BAD_REQUEST">
					<ee:transform doc:name="Error Response" doc:id="a516487e-13ca-4403-8c7c-0b605281c3b0" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json encoding="UTF-8", skipNullOn="everywhere"
var errors = (((error.description default "" replace "Error validating JSON. Error: - " with "") replace "- " with "") splitBy "\n")
---
{
	code : 400,
	message : if(vars.errorMessage != null) vars.errorMessage else (error.errorType.identifier),
	description: if(vars.errorDescription != null) vars.errorDescription else error.description,
	dateTime : "2024-12-05T15:25:46Z",
	transactionId : 123456789
}
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<error-handler ref="global-error-handler" />
	
    </flow>
    <flow name="uhub-sapi-console">
        <http:listener config-ref="uhub-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="uhub-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
